.log-list {
  display: flex;
  flex-direction: column;
  padding: 40rpx;
}
.log-item {
  margin: 10rpx;
}

.order-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.order-page {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #eee;
}
