.bucket-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
  padding: 2px 16px;
}

.bucket-image {
  width: 192rpx;
  height: 144rpx;
  border-radius: 8px;
}

.bucket-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 144rpx;
  width: 450rpx;
  justify-content: space-around;
}

.bucket-name {
  width: 100%;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}

.bucket-desc {
  width: 100%;
  max-height: 30px;
  overflow: hidden;
  font-size: 12px;
  line-height: 14px;
  color: #999;
  font-weight: lighter;
}

.bucket-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bucket-price {
  line-height: 20px;
  font-size: 18px;
  font-weight: bolder;
}

.add-bucket {
  width: 20px;
  height: 20px;
}

.bucket-buttons {
  width: 72px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}